<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>FEMA Historical Map | Hire Meggan!</title>

  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

  <style>
    body { margin:0; padding:0; }
    p, label { font-family:sans-serif; }
    #form { margin:15px; padding:15px; }
    #map { height:500px; width:800px; margin:15px; padding:15px; }
  </style>
</head>

<body>

<div id='form'>
  <form>
    <p>
      Select a time frame from {{ date_min }} to {{ date_max }}<br />
      (dates must be formated YYYY-MM-DD, eg: 1995-11-23)
    </p>
    <label>Start date:</label>
    <input type="text" name="start" />
    <label>End date:</label>
    <input type="text" name="end" />
    <p>Select to view a specific incident type or "All Incidents"</p>
    <label>Type</label>
    <select name="kind">
        <option value="all">All Incidents</option>
      {% for kind in kinds %}
        <option value="{{ kind }}">{{ kind }}</option>
      {% endfor %}
    </select>
    <button type="submit" id="submit">Submit</button>
  </form>
</div>

<div id="debug"></div>

<div id='map'></div>

<script src="../static/us-states.js"></script>
<script src="../static/map.js"></script>
<script src="../static/main.js"></script>

</body>
</html>
